.footer__column-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 30px;
  
  transition-property: opacity;
  transition-duration: .4s;
  transition-timing-function: linear;
}

.footer__column-link:hover {
  opacity: 0.4;
}