.header__link {
  color: #2f80ed;
  margin: 0;
  padding: 2px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  line-height: 25px;
  transition-property: opacity;
  transition-duration: .4s;
  transition-timing-function: linear;
}

.header__link:hover{
  opacity: 0.4;
}
