.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 30px;
  color: #000;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}
