.header__title {
  margin: 0 0 0 64px;
  width: 730px;
  display: flex;
  align-self: center;
  position: relative;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  color: #000;
}
